.nft-image .img-1,
.nft-image .img-2 {
  position: absolute;
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
}

.nft-image .img-2 {
  top: 0;
  right: 0;
}

.nft-image .img-1 {
  bottom: -140px;
  left: -26px;
  z-index: 1;
}
