.Open-sans-font { 
    font-family: 'Open Sans Variable', sans-serif;
}

.ManRope { 
    font-family: 'Manrope Variable', sans-serif;
}

.Work-Sans-font { 
    font-family: 'Work Sans Variable', sans-serif;
}

body { 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}


:root { 
    --primary-color: #0A2640;
}


.primary-color { 
    color: var(--primary-color);
}
.primary-bg-color { 
    background-color: var(--primary-color);
}

// COMPONENTS
@import "./components/navbar";
@import "./components/Hero";
@import "./components/about-section";
@import "./components/story";
