.Open-sans-font { 
    font-family: 'Open Sans Variable', sans-serif;
}

.ManRope { 
    font-family: 'Manrope Variable', sans-serif;
}

.Work-Sans-font { 
    font-family: 'Work Sans Variable', sans-serif;
}

body { 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}